#suggestion, #design, #java, #csharp, #php, #ruby, .btntwo {
  display: none;
}

.backend, .tasks {
  display: none;
}

#frontorback {
  display: block;
}

body {
  padding: 12px 20px;
  margin: 10px 0;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btnone, .btntwo {
  width: 100%;
  color: white;
  font-size: 16px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  background-color: #BDD5EA
}

.header h2{
  padding: 20px;
  text-align: center;
  background: #BDD5EA;
  color: #FE5F55;
  font-size: 25px;
}

.header h4 {
  padding-top: 15px;
  font-size: 18px;
}

.header ul {
  padding: 15px;
  font-size: 15px;
}
